.about-us {
  padding: 16px;
  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #414141;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 76px;
    letter-spacing: -0.5%;
    color: #121212;
  }

  p {
    font-weight: 400;
    color: #414141;
    font-size: 18px;
    line-height: 30px;
  }
}

.stats-summary {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.stat-item {
  border: 1px solid #dfe0e0;
  padding: 10px;
  border-radius: 16px;
  text-align: center;

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #121212;
  }
  h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #414141;
  }
}

.learn-more-btn {
  border: 1px solid #226bd7;
  padding-block: 16px;
  width: 100%;
  background: #fefefe;
  border-radius: 12px;
  margin-top: 21px;
  color: #226bd8;
}

.learn-more-btn::after {
  content: "\2192";
  margin-left: 8px;
}

.about-us-img {
  margin-top: 24px;
}

@media (width >= 1440px) {
  .about-us {
    display: flex;
    padding-inline: 60px;
    margin-top: 72px;
    gap: 70px;
  }

  .left-section {
    flex: 1;
     h2 {  
      color: rgba(18, 18, 18, 1);
      font-weight: 700;
      font-style: Bold;
      font-size: 64px;
      line-height: 76px;
      letter-spacing: -0.5%;
      margin-bottom: 20px;
    }
    p {
      color: rgba(65, 65, 65, 1);
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0%;
      margin-bottom: 32px;
    }
  }

  .stats-summary {
    gap: 16px;
  }

  .stat-item {
    h3 {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    }
    h6 {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    }
  }

  .learn-more-btn {
    width: 140px;
    margin-top: 40px;
  }

  .learn-more-btn:hover {
     background: rgb(239, 239, 240);
  }

 


}
