.banner-content {
  padding: 16px;
  background: #f7f8f8;
}

.banner-btn-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
    a {
      font-weight: 500;
      line-height: 22px;
      color: #226bd7;
    }
  }

  button {
    font-weight: 500;
    line-height: 22px;
    padding: 16px 24px;
    color: #fefefe;
    background: #226bd7;
    border-radius: 12px;
    width: 100%;
  }
}

.banner-img {
  width: 100%;
  height: 257px;
  margin-top: 24px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transform: scaleX(-1);
  }
}
