.banner-content {
  padding: 16px;
  background: #f7f8f8;
}

.banner-btn-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
    a {
      font-weight: 500;
      line-height: 22px;
      color: #226bd7;
    }
  }

  button {
    font-weight: 500;
    line-height: 22px;
    padding: 16px 24px;
    color: #fefefe;
    background: #226bd7;
    border-radius: 12px;
    width: 100%;
  }
}

.banner-img {
  width: 100%;
  margin-top: 24px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transform: scaleX(-1);
  }
}

@media (width >= 1440px) {
  .banner-content {
    padding: 0;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    opacity: 1;
    top: 161px;
    width: 100%;
  }
  .banner-img img{
    opacity: 1;
    object-fit: cover;
    height: 720px;

  }
  .banner-info {
    margin-left: 88px;
    margin-top: 108px;
  }

  .banner-info h1 {
    color: rgba(34, 107, 215, 1);
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: -1%;
    margin-bottom: 32px;
  }
  .banner-info p {
    color: rgba(18, 18, 18, 1);
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }


  .banner-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
