.dentists {
  padding: 16px;
  background: #f7f8f8;
  text-align: center;
  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 76px;
  }
}

.dentist-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dentist-card {
  box-shadow: 0px 4px 4px 0px #1e1e1e14;
  border-radius: 32px;
  img {
    border-radius: 32px 32px 0px 0px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
}

.dentist-card-info {
  margin-block: 20px;
}

.our-clinic-img {
  position: relative;
  margin-top: 24px;
  & img:nth-child(2) {
    position: absolute;
    width: 200px;
    bottom: -60px;
    right: 0;
    object-fit: contain;
  }
}
