.dentists {
  padding: 16px;
  background: #f7f8f8;
  text-align: center;
  h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 76px;
  }
}

.dentist-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dentist-card {
  box-shadow: 0px 4px 4px 0px #1e1e1e14;
  border-radius: 32px;
  img {
    border-radius: 32px 32px 0px 0px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
}

.dentist-card-info {
  margin-block: 20px;
}

@media (width >= 1440px) {
  .dentists {
    padding-inline: 60px;
  }
  .dentists h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: -0.5%;
    text-align: center;
    margin-bottom: 64px;
  }

  .dentist-cards {
    display: flex;
    flex-direction: row;
  }

  .dentist-card-info h3 {
    color:rgba(65, 65, 65, 1);
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 4px;
  }
  .dentist-card-info h6 {
    color: rgba(65, 65, 65, 1);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
}
