.footer {
  background: rgb(44, 107, 224);
  color: rgba(186, 209, 243, 1);
  padding: 40px 20px;
  margin-top: 50px;
}

.flex {
  display: flex;
  img {
    width: 51px;
    height: 53px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
}

.footer-col h3 {
  margin-bottom: 10px;
  color: rgba(254, 254, 254, 1);
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li a {
  color: rgba(186, 209, 243, 1);
  margin-bottom: 6px;
}

.footer-icons {
  display: flex;
  margin-top: 20px;
  gap: 6px;
  img {
    width: 26px;
    height: 26px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  padding: inline 40px;;
}




