.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #226bd7;
  padding: 16px;
}

.top-bar-items {
  display: flex;
  gap: 18px;
}

.header {
  position: relative;
}

.menu-toggle {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 15px;
  padding-block: 20px;
  transform: translateY(-20%);
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.menu-toggle:checked ~ .mobile-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu a {
  color: #226bd7;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #226bd7;
  font-size: 18px;
}

.mobile-menu a:last-child {
  border-bottom: none;
}

.burger {
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}

.mobile-menu-logo-section {
  display: flex;
}
