.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #226bd7;
  padding: 16px;
}


.top-bar-items {
  display: flex;
  gap: 24px;
}


.header {
  position: relative;
}
.header-hidden {
  display: none;
}
.header-icons {
  display: none;
}
.desktop-menu {
  display: none;
}
.menu-toggle {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  background:#226bd7;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 15px;
  padding-block: 20px;
  transform: translateY(-20%);
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.menu-toggle:checked ~ .mobile-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu a {
  color:#fcfcfc ;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #dde0e6;
  font-size: 18px;
}

.mobile-menu a:last-child {
  border-bottom: none;
}

.burger {
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}

.mobile-menu-logo-section {
  display: flex;
}


@media (width >= 1440px) {

  .top-bar {
    padding-inline: 60px;
  }

  .header-hidden {
    display: block;
  }

  .top-bar-items a {
    display: flex;
    gap: 4px;
    color: rgba(254, 254, 254, 1);
  }
  .top-bar-items a:hover {
    color: rgb(238, 238, 240);
  }

  .burger {
    display: none;
  }

  .header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .desktop-menu {
    padding-inline: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 32px;

  }

  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
    h5 {
      color: rgba(34, 107, 215, 1);
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;

    }
  }

  .nav-menu {
    display: flex;
    gap: 32px;
  }
  .nav-menu a {
    color: rgba(18, 18, 18, 1);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .nav-menu a:hover {
    color: rgb(87, 81, 81);
  }

  .nav-button {
    background-color: rgba(34, 107, 215, 1);
    color: white;
    padding: 16px 24px;
    width: 184;
    border-radius: 12px;
  }
  .nav-button:hover {
     background-color: rgb(29, 92, 187);
  }


}




