.our-services {
  padding: 16px;
  text-align: center;
}

.our-services-title {
  h4 {
    font-weight: 500;
    font-size: 16px;
    color: rgb(18, 18, 18);
    line-height: 32px;
  }
  h2 {
    color: rgba(18, 18, 18, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 76px;
  }
}

.services-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 64px;
}

.services-card {
  border: 1px solid #fefefe;
  box-shadow: 0px 0px 4px 0px #c2c2c2;
  border-radius: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: rgba(18, 18, 18, 1);
}

/* Services Slider */
.slider {
  background: #226bd7;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 12px 0;
}

.slider-inner {
  display: flex;
}

.slider-item {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  padding: 0 20px;
}

.slider-item h2 {
  font-weight: 700;
  font-size: 12px;
  color: #fefefe;
  white-space: nowrap;
}

@media (width >= 1440px) {
  .our-services {
    padding-inline: 60px;
  }

  .our-services-title {

    padding-inline: 172px;
    margin-block: 64px;
    h4 {
      font-weight: 500;
      font-style: Medium;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 10px;
    }
    h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: -0.5%;
    text-align: center;
    }
  }
  .services-grid {
    display: flex;
  }

  .services-card h3 {
    color: rgba(18, 18, 18, 1);
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
  }
  .services-card p {
      color: rgba(18, 18, 18, 1);
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 24px;
  }
}
