.our-services {
  padding: 16px;
  text-align: center;
}

.our-services-title {
  h4 {
    font-weight: 500;
    font-size: 16px;
    color: #121212;
    line-height: 32px;
  }
  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 76px;
  }
}

.services-grid {
  display: grid;
  gap: 16px;
}

.services-card {
  border: 1px solid #fefefe;
  box-shadow: 0px 0px 4px 0px #c2c2c2;
  border-radius: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Services Slider */
.slider {
  background: #226bd7;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 12px 0;
}

.slider-inner {
  display: flex;
}

.slider-item {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  padding: 0 20px;
}

.slider-item h2 {
  font-weight: 700;
  font-size: 12px;
  color: #fefefe;
  white-space: nowrap;
}
